@model IEnumerable<DataLayer.Models.ContactUs>
    @foreach(var item in Model)
            {
<ul>
    <li>
        <span class="icon flaticon-placeholder-2"></span>
        <strong>آدرس </strong>
        @item.Location
    </li>
    <li>
        <span class="icon flaticon-phone-call"></span>
        <strong>تلفن </strong>
        <a href="tel:+@item.PhoneNumber">+ @item.PhoneNumber</a>
    </li>
    <li>
        <span class="icon flaticon-email-1"></span>
        <strong>ایمیل </strong>
        <a href="mailto:@item.Email">@item.Email</a>
    </li>
</ul>
            }
